ATR_TR_2017/ServiceInterface/Service References/myService/SymtService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SymtService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.53.240:8098/SymtService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.53.240:8098/SymtService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SymtIService_CheckUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckUser" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckUserResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_GetMaterialList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialList" />
  </wsdl:message>
  <wsdl:message name="SymtIService_GetMaterialList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMaterialListResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_GetProcessList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessList" />
  </wsdl:message>
  <wsdl:message name="SymtIService_GetProcessList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProcessListResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_UpLoadStatFile_InputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadStatFile" />
  </wsdl:message>
  <wsdl:message name="SymtIService_UpLoadStatFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpLoadStatFileResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckStatFileBySn_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatFileBySn" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckStatFileBySn_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckStatFileBySnResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_DownLoadStatFile_InputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadStatFile" />
  </wsdl:message>
  <wsdl:message name="SymtIService_DownLoadStatFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownLoadStatFileResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckINBYSN_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckINBYSN" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckINBYSN_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckINBYSNResponse" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckOUTBYSN_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckOUTBYSN" />
  </wsdl:message>
  <wsdl:message name="SymtIService_CheckOUTBYSN_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckOUTBYSNResponse" />
  </wsdl:message>
  <wsdl:portType name="SymtIService">
    <wsdl:operation name="CheckUser">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/CheckUser" message="tns:SymtIService_CheckUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/CheckUserResponse" message="tns:SymtIService_CheckUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMaterialList">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/GetMaterialList" message="tns:SymtIService_GetMaterialList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/GetMaterialListResponse" message="tns:SymtIService_GetMaterialList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProcessList">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/GetProcessList" message="tns:SymtIService_GetProcessList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/GetProcessListResponse" message="tns:SymtIService_GetProcessList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpLoadStatFile">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/UpLoadStatFile" message="tns:SymtIService_UpLoadStatFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/UpLoadStatFileResponse" message="tns:SymtIService_UpLoadStatFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckStatFileBySn">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/CheckStatFileBySn" message="tns:SymtIService_CheckStatFileBySn_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/CheckStatFileBySnResponse" message="tns:SymtIService_CheckStatFileBySn_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DownLoadStatFile">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/DownLoadStatFile" message="tns:SymtIService_DownLoadStatFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/DownLoadStatFileResponse" message="tns:SymtIService_DownLoadStatFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckINBYSN">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/CheckINBYSN" message="tns:SymtIService_CheckINBYSN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/CheckINBYSNResponse" message="tns:SymtIService_CheckINBYSN_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckOUTBYSN">
      <wsdl:input wsaw:Action="http://tempuri.org/SymtIService/CheckOUTBYSN" message="tns:SymtIService_CheckOUTBYSN_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/SymtIService/CheckOUTBYSNResponse" message="tns:SymtIService_CheckOUTBYSN_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_SymtIService" type="tns:SymtIService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckUser">
      <soap:operation soapAction="http://tempuri.org/SymtIService/CheckUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMaterialList">
      <soap:operation soapAction="http://tempuri.org/SymtIService/GetMaterialList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProcessList">
      <soap:operation soapAction="http://tempuri.org/SymtIService/GetProcessList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpLoadStatFile">
      <soap:operation soapAction="http://tempuri.org/SymtIService/UpLoadStatFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckStatFileBySn">
      <soap:operation soapAction="http://tempuri.org/SymtIService/CheckStatFileBySn" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DownLoadStatFile">
      <soap:operation soapAction="http://tempuri.org/SymtIService/DownLoadStatFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckINBYSN">
      <soap:operation soapAction="http://tempuri.org/SymtIService/CheckINBYSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckOUTBYSN">
      <soap:operation soapAction="http://tempuri.org/SymtIService/CheckOUTBYSN" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SymtService">
    <wsdl:port name="BasicHttpBinding_SymtIService" binding="tns:BasicHttpBinding_SymtIService">
      <soap:address location="http://192.168.53.240:8098/SymtService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>